/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}

nav {
  background-image: linear-gradient(to bottom, #3498DB, #2980B9);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-image: linear-gradient(to bottom, #3498DB, #2980B9);
}
.navbar-collapse  ul.navbar-nav {
  float: right;
}
.navbar-nav > li  {
    padding-bottom: 30px;
    padding-top: 30px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
